<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performer.player.customer.web.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.performer.player.customer.web.pojo.User">
        <id property="userId" column="userId" jdbcType="CHAR" />
        <result property="userName" column="userName" jdbcType="CHAR"/>
        <result property="acount" column="acount" jdbcType="CHAR"/>
        <result property="telephoneNumber" column="telephoneNumber" jdbcType="NUMERIC"/>
        <result property="email" column="email" jdbcType="NUMERIC"/>
        <result property="password" column="password" jdbcType="NUMERIC"/>
   </resultMap>

    <select id="getUserInfo" resultMap="BaseResultMap">
        SELECT * FROM PLAYER_USER
        WHERE
    	ORDER BY comment_id
    </select>

</mapper>