<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performer.player.customer.web.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.performer.player.customer.web.pojo.User">
        <id property="userId" column="user_id" jdbcType="INTEGER" />
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="acount" column="acount" jdbcType="VARCHAR"/>
        <result property="telephoneNumber" column="telephone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
   </resultMap>

    <select id="getUserInfo" resultMap="BaseResultMap">
        SELECT * FROM PLAYER_USER
        <where>
            <if test="acount !=null">acount=${acount}</if>
        </where>
    </select>

</mapper>