<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performer.player.comment.dao.mapper.CommentMapper">

    <select id="getCommentList" resultType="com.performer.player.comment.pojo.Comment">
        SELECT * FROM PLAYER_COMMENT
        <where>
    		<if test="theme_id !=null">theme_id=${theme_id}</if>
    		<if test="theme_type !=0">AND theme_type=${theme_type}</if>
    		AND isReply="0"
    	</where>
    	ORDER BY comment_id
    </select>
    <insert id="insertComment" parameterType="com.performer.player.comment.pojo.Comment">
        INSERT INTO PLAYER_COMMENT (id,comment_id,theme_id,theme_type,content,user_id,number_of_praise,reply_id,reply_user_id,isReply) values (#{id,jdbcType=INTEGER}, #{comment_id,jdbcType=INTEGER},#{theme_id,jdbcType=INTEGER},#{theme_type,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{user_id,jdbcType=INTEGER},#{number_of_praise,jdbcType=INTEGER},#{reply_id,jdbcType=INTEGER},#{reply_user_id,jdbcType=INTEGER},#{isReply,jdbcType=TINYINT})
    </insert>
    <select id="getMaxFloorNum" resultType="Integer">
    	SELECT max(comment_id) FROM PLAYER_COMMENT
    	<where>
    		<if test="theme_id !=null">theme_id=${theme_id}</if>
    		<if test="theme_type !=0">AND theme_type=${theme_type}</if>
    	</where>
    </select>
    <select id="getReplyContent" resultType="com.performer.player.comment.pojo.Comment">
    	SELECT * FROM PLAYER_COMMENT
    	<where>
    		<if test="comment_id !=0">comment_id=${comment_id}</if>
    		AND theme_id=${theme_id} AND theme_type=${theme_type} 
    		AND reply_id=${comment_id} AND isReply="1"
    	</where>
    	ORDER BY create_time
    </select>
    <select id="getUserInfo" resultType="com.performer.player.comment.pojo.UserInfo">
    	SELECT * FROM PLAYER_USER
    	<where>
    		user_id=#{0}
    	</where>
    </select>
</mapper>